{% extends 'base.html' %} {% block title %}Restaurants{% endblock %} {% block
content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>
      <table class="table">
        <thead>
          <tr>
            {% for col in titles %}
            <th scope="col">{{col}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for cafe in cafes %}
          <tr>
            <td>{{cafe.cafe}}</td>
            <td><a href="{{cafe.location}}">Maps Link</a></td>
            <td>{{cafe.open_time.strftime('%H:%M')}}</td>
            <td>{{cafe.close_time.strftime('%H:%M')}}</td>
            <td>{{cafe.coffee_rating}}</td>
            <td>{{cafe.wifi_rating}}</td>
            <td>{{cafe.power_avail}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <p><a href="/">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
